<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static%}
{% if user_d %}
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	
	<title>Bill Payment & Management System</title>
	
	<link rel='stylesheet' type='text/css' href='{% static 'assets/css/style.css'%}' />
	<link rel='stylesheet' type='text/css' href='{% static 'assets/css/print.css'%}' media="print" />


</head>

<body onload="itemupdate()">

	<div id="page-wrap">

		<div id="header">INVOICE</div>
		
		<div id="identity">
			<table style="width:100%">
            <tr>
            <td style="border:none">{{invo_data.c_mc_id.mc_name}}<br />
				{{invo_data.c_mc_id.mc_address}}<br /><br />

				Phone: {{invo_data.c_mc_id.mc_main_tele}}</td>
                

            <td style="border:none" id="logo">

              

              <img id="image" style="height:80px"  src="{% static 'c_logo/''%}{{user_d.u_mc_id.mc_id}}.jpg" alt="logo" />
            </td>
            </tr>
			</table>
		</div>
		
		<div style="clear:both"></div>
		
		<div id="customer">
			<table style="width:100%">
            	<tr>
                	<td style="border:none" >
                    {{invo_data.sub_client_id.sub_client_name}}<br />
                    {{invo_data.sub_client_id.sub_address}}
                    </td>
                    <td style="border:none">
                    <table id="meta">
                        <tr>
                            <td class="meta-head">Invoice Number</td>
                            <td>{{invo_data.c_invoice_num|slice:str_slice}}</td>
                        </tr>
                        <tr>
        
                            <td class="meta-head">Invoice Date</td>
                            <td >{{invo_data.c_invoice_date}}</td>
                        </tr>
                        <tr>
                            <td class="meta-head">Payment Due date</td>
                            <td><div class="due">{{invo_data.c_due_date}}</div></td>
                        </tr>
        
                    </table>
                    </td>
                </tr>
            </table>


            
		
		</div>
		
		<table id="items">
			<thead>
                <tr>
                    <th style="width:5%">#</th>
                    <th style="width:50%">Description</th>
                    <th style="width:15%">Cost</th>
                    <th style="width:15%">Tax</th>
                    <th style="width:15%"></th>
                </tr>
            </thead>
		  
		  	<tbody>
            	
                
            </tbody>
		  	<tfoot>
            	<tr >
                    <td style="border:none"> </td>
                    <td style="border:none">&nbsp;</td>
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                </tr>
            	  <tr>
                      <td colspan="2" class="blank"> </td>
                      <td colspan="2" class="total-line">Net Total</td>
                      <td class="total-value" id="nettotal" align="right"></td>
                  </tr>
                  <tr>
        
                      <td colspan="2" class="blank"> </td>
                      <td colspan="2" class="total-line">{{invo_data.c_tax1_name|upper}} ({{invo_data.c_tax1}}%)</td>
                      <td class="total-value" id="tax" align="right"></td>
                  </tr>
       			  <tr>
        
                      <td colspan="2" class="blank"> </td>
                      <td colspan="2" class="total-line">Deduction</td>
                      <td class="total-value" id="tax" align="right">({{invo_data.c_discount|floatformat:2}})</td>
                  </tr>
                  <tr>
                      <td colspan="2" class="blank"> </td>
                      <td colspan="2" class="total-line balance">Grand Total</td>
                      <td class="total-value" align="right">{{invo_data.c_total_amount|floatformat:2}}</td>
                  </tr>
            </tfoot>
		  
		  
		  
		
		  
		  
		
		</table>
        <!--<div id="terms">
		  <h5>Terms</h5>
		  NET 30 Days. Finance Charge of 1.5% will be made on unpaid balances after 30 days.
		</div>-->
		<footer ><br /><br />
        	<table style="float:right; ">
            	<tr>
                	<td style="border:none">Powered by </td>
                    <td style="border:none"><img src="{% static 'assets/images/logo.png'%}" height="30"/></td>
                </tr>
            </table>
        </footer>
		
	
	</div>
	
</body>
<script type="text/javascript">
	function itemupdate(){
		
		
		var tax_str ="{{invo_data.c_tax1}}";
		var tax_value = parseFloat(tax_str)*0.01;
		
		var total_amount = 0;
		var tax_amount = 0;
		
		var itemstring = '{{invo_data.c_description}}';
		var amountstring = '{{invo_data.c_detail_amount}}';
		var taxstring = '{{invo_data.c_tax_string}}';
		var itemlist = itemstring.split("?");
		itemlist = itemlist.filter(Boolean);
		var amountlist = amountstring.split("?");
		amountlist = amountlist.filter(Boolean);
		var taxlist = taxstring.split("?");
		taxlist = taxlist.filter(Boolean);
		
		
		
		var tableRef = document.getElementById('items').getElementsByTagName('tbody')[0];
		
		if (itemlist.length==amountlist.length && amountlist.length==taxlist.length){
			var i;
			for (i = 0; i < itemlist.length;i++) {
			  // Insert a row in the table at row index 0
			  var item_tax = 0;
			  var newRow   = tableRef.insertRow(tableRef.rows.length);
			  
			  // Insert a cell in the row at index 0
			  var newCell0  = newRow.insertCell(0);
			  var newCell1  = newRow.insertCell(1);
			  var newCell2  = newRow.insertCell(2);
			  var newCell3  = newRow.insertCell(3);
			  var newCell4  = newRow.insertCell(4);
			  
			  newRow.className ="item-row";
			  newCell0.className ="item-name";
              newCell1.className ="description";
              newCell2.className ="total-line";
              newCell3.className ="total-line";
              newCell4.className ="total-line";
			  
			  
			  newCell0.appendChild(document.createTextNode(i+1));
			  newCell1.appendChild(document.createTextNode(itemlist[i]));
			  newCell2.appendChild(document.createTextNode(amountlist[i]));
			  total_amount+=parseFloat(amountlist[i]);
			  if (taxlist[i]=="add"){
				  item_tax = parseFloat(amountlist[i])*tax_value;
				  tax_amount +=item_tax;
			  }
			  else{
				  item_tax = 0
				  
			  }
			  newCell3.appendChild(document.createTextNode(item_tax.toFixed(2)));
			  
			  newCell4.appendChild(document.createTextNode((parseFloat(amountlist[i]) + parseFloat(item_tax)).toFixed(2)));
			  document.getElementById("tax").innerHTML=tax_amount.toFixed(2);
				document.getElementById("nettotal").innerHTML=total_amount.toFixed(2);
			}
		}
		else{		
			alert(itemlist.length+""+amountlist.length+""+taxlist.length)
		}
		

	}
	</script>
</html>
{% else %}
<script>window.location.href = "../"</script>
{% endif %}