{% extends 'BPMS/dashframe.html' %}
{% load mathfilters %}
{% load humanize %}
{% block content %}
        <div class="row " >
          <div class="col-sm-12" >
            <div class="card card-primary">
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                        <thead>
                        <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Invoice Number: activate to sort column descending">
                            Invoice Number
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Invoice Date: activate to sort column ascending">
                            Invoice Date
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Item(s): activate to sort column ascending">
                            Item(s)
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Client Name: activate to sort column ascending">
                            Client Name
                        </th>
                         <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">
                            Status
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Amount: activate to sort column ascending">
                            Amount
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Due Amount: activate to sort column ascending">
                        Due Amount
                        </th>
                        <th>

                        </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj,desc in invo_items.items %}
                        {%if obj.c_status != 'revoked' and obj.c_status != 'cancel'%}
                        <tr role="row" class="odd">
                            <td tabindex="0" class="sorting_1"><a href="{% url 'invo_preview' obj.c_invoice_num|slice:str_slice%}">{{obj.c_invoice_num|slice:str_slice}}</a> </td>
                            <td>{{obj.c_invoice_date|stringformat:'s'}}</td>
                            <td>{{desc|slice:':-1'}}</td>
                            <td>{{obj.sub_client_id.sub_client_name}}</td>
                            <td style="color:{%if obj.c_status == 'open'%}red{%endif%}{%if obj.c_status == 'close'%}green{%endif%}">{{obj.c_status|upper}}</td>
                            <td align="right">{{obj.c_total_amount|floatformat:2|intcomma}}</td>
                            <td align="right">
                                {{ obj.c_total_amount|sub:obj.c_received_amount|floatformat:2|intcomma }}

                            </td>
                            <td>
                                <form action="{% url 'invo_settle'  %}" method="post">
                                {% csrf_token %}
                                <input type="hidden"  name="invoice_num" id="invoice_num" value="{{obj.c_invoice_num|slice:str_slice}}">
                                <button  type="submit" class="btn btn-block btn-success btn-sm" {%if obj.c_status != 'open'%}disabled{%endif%}><i class="fas fa-hand-holding-usd"></i>Settle</button>
                                {%if user_d.u_level == 'admin'%}
                                <a href="{% url 'invo_edit' obj.c_invoice_num|slice:str_slice%}"><button  type="button"  class="btn btn-block btn-secondary btn-sm" ><i class="fas fa-edit"></i>Edit</button></a>
                                {%endif%}
                                </form>
                            </td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
          </div>
        </div>



{% endblock %}
