{% extends 'BPMS/dashframe.html' %}

{% block content %}
        <div class="row " >
          <div class="col-sm-12" >
            <div class="card card-primary">
           		<div class="card-body">
                
                <form action="{% url 'invo_settle'  %}" id="find_frm" method="post">
                {% csrf_token %}
                  <div class="row " >
                  	<div class="col-sm-2" >

                  	</div>
                    <div class="col-sm-6" >

                        <input type="text" class="form-control" name="invoice_num" id="invoice_num" {% if invo_d %} value="{{invo_d.c_invoice_num|slice:str_slice}}"  {%endif%} autocomplete="off" placeholder="Invoice Number" required>
                        or <a href="{% url 'invoice_view'%}">View Invoice list</a>
                  	</div>
                    <div class="col-sm-2" >
                        <button class="btn btn-block btn-info"><i class="nav-icon fas fa-search"></i>&nbsp;Find Invoice</button>
                  	</div>
                    <div class="col-sm-2" >

                  	</div>
                  </div>

                  </form>
                </div>
            </div><!-- /.card -->
          </div> <!-- /.col -->
        </div><!-- /.row -->
       
        {% if invo_d %}
        <div class="row " >
          <div class="col-sm-12" >
            <div class="card" id="invo_result" >
              <div class="card-header">
                  <h3 class="card-title"><strong>Payment Details</strong></h3>
              </div>
              <!-- /.card-header -->
                <form action="{% url 'invo_settle_conf' %}" method="POST" name="payfrm" id="payfrm">
                    {% csrf_token %}
                    <div class="card-body" >
                      <div class="row">
                          <div class="col-sm-12">
                              <table style="width:100%">
                                  <tr>
                                      <td>Invoice Number</td>
                                      <td>:</td>
                                      <td>{{invo_d.c_invoice_num|slice:str_slice}}
                                        <input type="hidden" name="invo_num_conf" value="{{invo_d.c_invoice_num|slice:str_slice}}">
                                      </td>
                                      <td>Invoice Date</td>
                                      <td>:</td>
                                      <td>{{invo_d.c_invoice_date}}</td>
                                  </tr>
                                  <tr>
                                      <td>Client ID</td>
                                      <td>:</td>
                                      <td>{{invo_d.sub_client_id.sub_client_id|slice:str_slice|upper}}</td>
                                      <td>Client Name</td>
                                      <td>:</td>
                                      <td>{{invo_d.sub_client_id.sub_client_name}}</td>
                                  </tr>
                                  <tr>
                                      <td>Description</td>
                                      <td>:</td>
                                      <td colspan="4">{{invo_d.c_description|slice:':-2'}}</td>

                                  </tr>
                                  <tr>
                                      <td>Total</td>
                                      <td>:</td>
                                      <td>{{total|floatformat:2}}</td>
                                      <td colspan="3"></td>
                                  </tr>
                                  <tr>
                                      <td>{{invo_d.c_tax1_name}} {{invo_d.c_tax1}}%</td>
                                      <td>:</td>
                                      <td>{{tax|floatformat:2}}</td>
                                      <td colspan="3"></td>
                                  </tr>
                                  <tr>
                                      <td>Deduction</td>
                                      <td>:</td>
                                      <td>({{invo_d.c_discount|floatformat:2}})</td>
                                      <td colspan="3"></td>
                                  </tr>
                                  <tr>
                                      <td>Grand Total</td>
                                      <td>:</td>
                                      <td id="g_total">{{invo_d.c_total_amount|floatformat:2}}</td>
                                      <td colspan="3"></td>
                                  </tr>
                              </table>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-4">
                            <label>Received Date</label>
                            <input type="date" class="form-control" name="received_date" id="received_date"  autocomplete="off" value="{{today|stringformat:'s'}}" required>
                          </div>
                          <div class="col-sm-4">
                            <label>Received Amount</label>
                            <input type="text" class="form-control" name="received_amount" id="received_amount"  autocomplete="off" value="{{invo_d.c_total_amount|floatformat:2}}" required>
                          </div>

                          <div class="col-sm-4">
                            <label>Remark</label>
                            <input type="text" class="form-control" name="remark" id="remark"  autocomplete="off">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-4">
                            <label>Payment Method</label>
                            <select class="form-control" id="pay_type" oninput="pay_ty()">
                                <option value="cash">CASH</option>
                                {%for bank in bank_data%}
                                    <option value="bank" label="{{bank.sub_bank_name}} ({{bank.sub_bank_acc}})">{{bank.sub_bank_id|slice:str_slice|upper}}</option>
                                {%endfor%}
                            </select>
                              <input type="hidden" id="bank" name="bank" value="CASH">
                              <input type="hidden" id="status_s" name="status_s">
                          </div>
                          <div class="col-sm-4">
                            <label>Cheque Number</label>
                            <input type="text" class="form-control" name="che_num" id="che_num"  autocomplete="off" placeholder="Cheque Number" disabled>
                          </div>

                          <div class="col-sm-2">
                              <label>&nbsp;</label>
                              <button type="button" class="btn btn-block btn-success" onclick="settle_invo(confirm('Do you need to settle the invoice?'))">
                                  <i class="nav-icon fas fa-donate"></i>&nbsp;
                                  Settle Invoice
                              </button>
                          </div>
                          <div class="col-sm-2">
                              <label>&nbsp;</label>
                              <button type="button" class="btn btn-block btn-danger" onclick="cancl_invo(confirm('Do you need to cancel the invoice? \n NOTE:This will show as a lost'))">
                                  <i class="nav-icon fas fa-window-close"></i>&nbsp;
                                  Cancel Invoice
                              </button>
                          </div>

                      </div>
                  </div>
                </form>

              <!-- /.card-body -->
            </div><!-- /.card -->
          </div> <!-- /.col -->
        </div><!-- /.row -->




        {% endif %}
        {% if saved %}
            <script>
                window.open("{% url 'invo_preview' saved %}", "_blank");

                window.location.href = "{% url 'invo_settle'  %}";
            </script>

        {% endif %}
{% endblock %}


