{% extends 'BPMS/dashframe.html' %}
{% load static %}
{% block content %}
        <div class="row " >
          <div class="col-sm-12" >
            <div class="card ">
                <div class="card-header">
                    <table style="width:100%">
                        <tr>
                            <td colspan="1"><h3 class="card-title"><strong>{{report_title}}</strong></h3></td>
                            <td colspan="1">
                                <button type="submit" class="btn btn-block btn-secondary" onclick="printPageArea('prt_area')" {% if stat != '1' %}disabled{%endif%}>
                                      Print
                                </button>

                            </td>
                            <td colspan="1">
                                <button type="submit" class="btn btn-block btn-secondary" disabled>

                                      PDF
                                </button>

                            </td>
                        </tr>
                    </table>



                </div>

                <div class="card-body">
                    <form action="" method="post" >
                     {%csrf_token%}
                    <div class="row " >

                            <div class="col-sm-4" >
                                <label>From</label>
                                <input type="date" class="form-control" name="report_from_d" autocomplete="off" value="{{from_date}}" required>

                            </div>
                            <div class="col-sm-4" >
                                <label>To</label>
                                <input type="date" class="form-control" name="report_to_d" autocomplete="off" value="{{today}}" required>


                            </div>
                            <div class="col-sm-4" >
                                <label>&nbsp;</label>
                                <button type="submit" class="btn btn-block btn-primary">
                                      <i class="nav-icon fas fa-poll-h"></i>&nbsp;
                                      Generate Report
                                </button>

                            </div>


                    </div>
                    </form>
                    <div class="row " >

                            <div class="col-sm-8" >

                            </div>
                            <div class="col-sm-4 form-check" align="right">
                                <input oninput="preview()" type="checkbox" class="form-check-input" name="print_preview_check" id="print_preview_check" {% if stat != '1' %}disabled{%endif%}>
                                <label class="form-check-label" for="print_preview_check">Print Preview</label>
                            </div>

                    </div>
                </div>
            </div>
          </div>
        </div>
        {% if stat == '1' %}
        <div class="row " >
          <div class="col-sm-12" >
            <div class="card ">
                <div class="card-body" id="prt_area">
                    <div class="printOnly" id="printOnly"  style="display:none;width:100%">

                        <strong>{{user_d.u_mc_id.mc_name}}</strong><br>
                            {{rpt_today}}<br><br>
                            <strong>{{report_title}} for the period     of {{from_date}} to {{today}}</strong>
                        <hr style="display: block;height: 1px;background: transparent;width: 100%;border: none;border-top: solid 1px #aaa;">
                        <br>
                    </div>
                    <table border="1" style="width:100%;border-collapse: collapse;">
                        <tr>
                            {%for th_item in th%}
                            <th style="text-align: center">{{th_item}}</th>
                            {%endfor%}
                        </tr>


                        {%for row in td%}
                        {% if row.1 != 0 %}
                            <tr>
                                {%for td_item in row%}

                                    <td style="text-align:{%if forloop.counter != 1 and forloop.counter != 2 %}right{%else%}center{%endif%}">{{td_item}}</td>
                                {%endfor%}
                            </tr>
                        {% endif %}
                        {%endfor%}
                        <tr style="border-left: hidden;border-right: hidden;border-bottom: hidden;">
                            {%for td_item in tdl%}

                                <td style="text-align:{%if forloop.counter != 1 and forloop.counter != 2 %}right{%else%}center{%endif%};{%if forloop.counter != 1 and forloop.counter != 2%}text-decoration-line: underline;text-decoration-style: double;{%endif%}">{{td_item}}</td>
                            {%endfor%}
                        </tr>


                    </table>

                </div>

            </div>
          </div>
        </div>

<script>
    function printPageArea(areaID){
        var printContent = document.getElementById(areaID);
        var WinPrint = window.open('', '', 'width=900,height=650');
        /*WinPrint.document.write("<title>Print - </title>");
        WinPrint.document.write("<link rel='stylesheet' type='text/css' href='{% static 'assets/css/style.css'%}'/>");*/
        WinPrint.document.write(printContent.innerHTML);
        var script = document.createElement('script');
        script.src = '{% static 'BPMS/print.js'%}';
        WinPrint.document.head.appendChild(script);
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        //WinPrint.close();
    }
    function preview(){
        if (document.getElementById('print_preview_check').checked == true){
            var cols = document.getElementsByClassName('printOnly');
              for(i = 0; i < cols.length; i++) {
                cols[i].style.display = "block";
              }
        }
        else{
            var cols = document.getElementsByClassName('printOnly');
              for(i = 0; i < cols.length; i++) {
                cols[i].style.display = "none";
              }
        }
    }
</script>
        {% endif %}

{% endblock %}
