{% extends 'BPMS/dashframe.html' %}

{% block content %}
        <div class="row " >
          <div class="col-sm-12" >
            <div class="card ">
                <div class="card-header">
                    <h3 class="card-title"><strong>{{report_title}}</strong></h3>
                </div>

                <div class="card-body">
                    <form action="" method="post" >
                     {%csrf_token%}
                    <div class="row " >

                            <div class="col-sm-4" >
                                <label>From</label>
                                <input type="date" class="form-control" name="report_from_d" autocomplete="off" value="{{from_date}}" required>

                            </div>
                            <div class="col-sm-4" >
                                <label>To</label>
                                <input type="date" class="form-control" name="report_to_d" autocomplete="off" value="{{today}}" required>


                            </div>
                            <div class="col-sm-4" >
                                <label>&nbsp;</label>
                                <button type="submit" class="btn btn-block btn-primary">
                                      <i class="nav-icon fas fa-poll-h"></i>&nbsp;
                                      Generate Report
                                </button>

                            </div>


                    </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
        {% if stat == '1' %}
        <div class="row " >
          <div class="col-sm-12" >
            <div class="card ">
                <div class="card-body" id="prt_area">
                    {%for cr in td%}
                    <p style="page-break-before: always">
                    <table>
                        {%for client,row in cr.items%}
                        <tr>
                            <td>
                                Bank Name
                            </td>
                            <td>:</td>
                            <td>

                                        {{client.sub_bank_name}}



                            </td>
                        <tr><td>Address</td><td>:</td><td>{{client.sub_bank_address}}</td></tr>
                        <tr><td>Account Number</td><td>:</td><td>{{client.sub_bank_acc}}</td></tr>
                            {% endfor %}
                        </tr>
                    </table><hr>
                    <table border="1" style="width:100%">
                        <tr style="font-size:13px">
                            {%for th_item in th%}
                            <th style="text-align: center">{{th_item}}</th>
                            {%endfor%}
                        </tr>



                            {%for client,row in cr.items%}
                                {%for tr_item in row%}

                                    <tr style="font-size:12px;{% if forloop.last %}text-decoration-line: underline;text-decoration-style: double;border-left: hidden;border-right: hidden;border-bottom: hidden;font-size:13px;{% endif %}">
                                        {%for td_item in tr_item%}
                                            {% if td_item == '1111-11-11' or td_item == 'nding' %}
                                            <td></td>
                                            {%else%}
                                            <td style="text-align:{%if forloop.counter != 1 and forloop.counter != 2 and forloop.counter != 3 %}right{%else%}center{%endif%}">{{td_item}}</td>
                                            {%endif%}
                                        {%endfor%}
                                    </tr>


                                {%endfor%}
                            {%endfor%}


                    </table>
                    <hr>
                    </p>
                    {%endfor%}
                </div>

            </div>
          </div>
        </div>
        {% endif %}

{% endblock %}
