/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/
/*html{
  position:relative;
  min-height: 100%;
}*/

body { font-family:"Times New Roman", Times, serif}

@media print {
  @page {
    margin:0;
    size: A4 portrait;

  }
  body { margin-left: 1.6cm;margin-right: 1.6cm; }
  //footer {width:178mm; bottom:1.6cm }
}